@import url('https://fonts.googleapis.com/css2?family=Afacad&family=Work+Sans&display=swap');

* {
    padding: 0;
    margin: 0;
    font-family: 'Afacad', sans-serif;
    font-family: 'Work Sans', sans-serif;
}

body {
    background-color: #297b8f;
}

.input-box {
    background: white;
    width: 90%;
    max-width: 500px;
    border-radius: 5px;
    padding: 10px 20px;
    margin: 300px auto;
    display: flex;
    align-items: center;
}

.input-box input {
    width: 100%;
    padding: 10px 0;
    border: 0;
    outline: 0;
    font-size: 24px;
    color: #555555;
}

.input-box img {
    width: 35px;
    cursor: pointer;
}