
/*                  B O D Y                 */

* {
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    color: #000000;
    box-sizing: border-box;
}

body {
    background: linear-gradient(#001F31, #304451, #393D3F);
    min-height: 100vh;
    background-size: cover;
}

button {
    background-color: white;
    color: #001F31;
    border: 2px solid #001F31;
    padding: .3em .6em;
    font-size: 1em;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.5s;
    border-radius: 3px 3px;
}

button:hover {
    background-color: #001F31;
    color: white;
    border: 2px solid #000000;
}

button:hover > i {
    color: white; /* Change the icon color.*/
}

button i {
    color: #001F31;
    font-weight: bold;
    pointer-events: none; /* Desabilita a sobreposição do ícone sobre o botão.*/
}

input, select {
    padding: .25em 0.5em;
}

.hide {
    display: none;
}

/*                  H E A D E R                 */

.todo-container {
    max-width: 450px;
    margin: 3em auto;
    background-color: #ffffff;
    padding: 1.5em;
    border-radius: 10px;
    border: 5px solid #304451;
}

.todo-container header {
    text-align: center;
    padding: 0 1em 1em;
    border-bottom: 1px solid #001F31;
}

/*                  F O R M                 */

#todo-form, #edit-form {
    padding: 1em;
    border-bottom: 1px solid #001F31;
}

#todo-form p, #edit-form p {
    margin-bottom: 0.5em;
    font-weight: bold;
}

.form-control {
    display: flex;
}

.form-control input {
    margin-right: 0.3em;
}

#cancel-edit-btn {
    margin-top: 0.5em;
}

/*                   T O O L B A R                  */

#toolbar {
    padding: 1em;
    border-bottom: 1px solid #001F31;
    display: flex;
}

#toolbar h4 {
    margin-bottom: 0.5em;
}

#search {
    padding-left: 1em;
    margin-right: 1em;
    width: 65%;
    display: flex;
    flex-direction: column;
}

#search form {
    display: flex;
}

#search input {
    width: 100%;
    margin-right: 0.3em;
}

#filter {
    width: 35%;
    display: flex;
    flex-direction: column;
}

#filter select {
    flex: 1;
}

/*                  T O D O L I S T                 */

.todo {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 1em;
    border-bottom: 1px solid #001F31;
    transition: 0.3s;
}

.todo h3 {
    flex: 1;
    font-size: 0.9em;
}

.todo button {
    margin-left: 0.4em;
}

.done {
    background-color: #395169;
}

.done h3 {
    color: white;
    text-decoration: line-through;
    font-style: bold;
}

